# https://bit.ly/1N5br3h

In [1]:
#importando pandas

import pandas as pd

# Leitura/escrita

In [2]:
# lendo um csv

file_name = "https://bit.ly/1N5br3h"

df = pd.read_csv(file_name)

df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [3]:
# não tem header!

file_name = "https://bit.ly/1N5br3h"

df = pd.read_csv(file_name,header=None)

df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [5]:
# passando colunas

df.columns = ['comprimento_sepala',
              'largura_sepala',
              'comprimento_petala',
              'largura_petala',
              'tipo_flor']
df.head()

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,tipo_flor
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [8]:
len(df.index)

150

In [9]:
df.shape

(150, 5)

In [10]:
# escrevendo csv
df.to_csv('teste.csv',index=False)

In [12]:
!head teste.csv

comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,tipo_flor
5.1,3.5,1.4,0.2,Iris-setosa
4.9,3.0,1.4,0.2,Iris-setosa
4.7,3.2,1.3,0.2,Iris-setosa
4.6,3.1,1.5,0.2,Iris-setosa
5.0,3.6,1.4,0.2,Iris-setosa
5.4,3.9,1.7,0.4,Iris-setosa
4.6,3.4,1.4,0.3,Iris-setosa
5.0,3.4,1.5,0.2,Iris-setosa
4.4,2.9,1.4,0.2,Iris-setosa

In [13]:
# lendo um arquivo local
df2 = pd.read_csv('teste.csv')
df2.head()

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,tipo_flor
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [14]:
# tchau

del df2

# Seleção e filtros

In [16]:
# uma coluna como vetor numpy
df['comprimento_sepala'].head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: comprimento_sepala, dtype: float64

In [17]:
# alternativa
df.comprimento_sepala.head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: comprimento_sepala, dtype: float64

In [19]:
# filtro de colunas

df[['comprimento_sepala','largura_sepala','tipo_flor']].head()

   comprimento_sepala  largura_sepala    tipo_flor
0                 5.1             3.5  Iris-setosa
1                 4.9             3.0  Iris-setosa
2                 4.7             3.2  Iris-setosa
3                 4.6             3.1  Iris-setosa
4                 5.0             3.6  Iris-setosa

In [23]:
# filtrando - só linhas em que o comprimento da sepala é maior que 5

df[df['comprimento_sepala']>5].head()

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,tipo_flor
0,5.1,3.5,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
10,5.4,3.7,1.5,0.2,Iris-setosa
14,5.8,4.0,1.2,0.2,Iris-setosa
15,5.7,4.4,1.5,0.4,Iris-setosa

In [25]:
df['comprimento_sepala']<=5

0      False
1       True
2       True
3       True
4       True
5      False
6       True
7       True
8       True
9       True
10     False
11      True
12      True
13      True
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22      True
23     False
24      True
25      True
26      True
27     False
28     False
29      True
       ...
120    False
121    False
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
Name: comprimento_sepala, Length: 150, dtype: bool

In [ ]:
# filtro como objeto separado

filtro = (df['comprimento_sepala']>5)
filtro[0:5]

In [ ]:
df[filtro].head()

In [ ]:
# outro filtro
filtro2 = df['comprimento_petala']>2
filtro2[0:5]

In [ ]:
# and
(filtro & filtro2).head()

In [ ]:
# or
(filtro | filtro2).head()

In [ ]:
# aplicando
df[filtro & filtro2].head()

In [ ]:
# equivalente
df[(df['comprimento_sepala']>5) &
   (df['comprimento_petala']>2)].head()

# Ordenação

In [ ]:
# ordem crescente
df.sort_values(by='comprimento_sepala').head()

In [ ]:
# ordem decrescente
df.sort_values(by='comprimento_sepala',ascending=False).head()

In [ ]:
# ordernar não altera nada
df.head()

In [ ]:
# inplace

df.sort_values(by='largura_petala',ascending=False,inplace=True)

In [ ]:
# objeto foi modificado
df.head()

# Descrição

In [ ]:
# estatísticas descritivas

df.describe()

# Novas colunas

In [ ]:
# área da sépala e da pétala
df['area_sepala'] = df['comprimento_sepala']*df['largura_sepala']
df['area_petala'] = df['comprimento_petala']*df['largura_petala']
df.head()

# Agregações

In [ ]:
# média
df.groupby(by='tipo_flor').mean()

In [ ]:
# soma
df.groupby(by='tipo_flor').sum()

In [ ]:
# máximo
df.groupby(by='tipo_flor').max()

In [ ]:
# min, std, median, mode...

In [ ]:
# multiplas agregações

df.groupby(by='tipo_flor').agg({'comprimento_sepala':'sum',
                                'largura_sepala':'mean'})

# Matplotlib

In [ ]:
# importar pyplot e configurar exibição inline
from matplotlib import pyplot as plt
%matplotlib inline

In [ ]:
# histograma
plt.hist(df['comprimento_sepala'])

In [ ]:
# bar plot
df2 = df.groupby(by='tipo_flor').mean
plt.bar(df2.index,df2['comprimento_sepala'],label='Comprimento Médio da Sépala')
plt.legend()

In [ ]:
# scatter plot
plt.scatter(df['comprimento_sepala'],df['comprimento_petala'])

In [ ]:
# via loop, colorindo os tipos
fig = plt.figure(figsize=(7,5))
for tipo_flor,tmpdf in df.groupby(by='tipo_flor'):
    plt.scatter(tmpdf['comprimento_sepala'],tmpdf['comprimento_petala'],label=tipo_flor)
plt.legend()
plt.title('Sépala x Pétala')
plt.xlabel('Comprimento da Sépala')
plt.ylabel('Comprimento da Pétala')

In [ ]:
# histogramas overlapping
fig = plt.figure(figsize=(7,5))
for tipo_flor,tmpdf in df.groupby(by='tipo_flor'):
    plt.hist(tmpdf['comprimento_sepala'],label=tipo_flor,alpha=0.4)
plt.legend()
plt.title('Distribução do Comprimento da Sépala')

# Sklearn - K-Vizinhos

In [ ]:
# embaralhar
df = df.sample(frac=1)
df.head()

In [ ]:
# quebrar em duas bases
df_a = df[0:100]
df_b = df[100:150]

In [ ]:
# via loop
fig = plt.figure(figsize=(7,5))
for tipo_flor,tmpdf in df_a.groupby(by='tipo_flor'):
    plt.scatter(tmpdf['comprimento_sepala'],tmpdf['comprimento_petala'],label=tipo_flor)
plt.scatter(df_b['comprimento_sepala'],df_b['comprimento_petala'],label='Desconhecido',color='gray')
plt.legend()
plt.title('Sépala x Pétala')
plt.xlabel('Comprimento da Sépala')
plt.ylabel('Comprimento da Pétala')

In [ ]:
# importar classificador de k-vizinhos
from sklearn.neighbors import KNeighborsClassifier
kneighbors = KNeighborsClassifier()

In [ ]:
# separar treino e target
X_train = df_a[['comprimento_sepala','comprimento_petala']]
y_train = df_a['tipo_flor']

In [ ]:
# fit do classificador
kneighbors.fit(X_train,y_train)

In [ ]:
# separar base de teste
X_test = df_b[['comprimento_sepala','comprimento_petala']]

In [ ]:
# prever valores
previsoes = kneighbors.predict(X_test)
previsoes

In [ ]:
# inserir previsoes na base
df_b['previsao'] = previsoes
df_b.head()

In [ ]:
# separar erros e acertos

df_b['acertou'] = (df_b['tipo_flor']==df_b['previsao'])
df_b.head()

In [ ]:
# acertou quais?

fig = plt.figure(figsize=(7,5))
for acertou,tmpdf in df_b.groupby(by='acertou'):
    plt.scatter(tmpdf['comprimento_sepala'],tmpdf['comprimento_petala'],label=acertou)
    plt.legend()

In [ ]:
# acurácia do modelo

from sklearn.metrics import accuracy_score
accuracy_score(df_b['tipo_flor'],df_b['previsao'])